netURL: https://mainnet.infura.io  # https://ethereum.publicnode.com
# privateKey: /var/...
chainId: 1

resources:
  limits:
    cpu: 200m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
